<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<!-- 导入数据源配置文件 -->
	<import resource="classpath*:config/spring-datasource.xml" />

	<bean id="propertyConfigurer_no_reloadable"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="location">
			<value>config/myDB.properties</value>
		</property>
	</bean>

 <!-- 导入分割的spring配置文件 -->
   	<bean id="runtimeOperatorService" class="com.neusoft.hp.runtime.service.impl.RuntimeEntityOperatorServiceImpl"></bean>
   	<bean id="runtimeQueryService" class="com.neusoft.hp.runtime.service.impl.RuntimeEntityQueryServiceImpl"></bean>
   	
	<bean class="com.neusoft.hp.runtime.factory.impl.SimpleHandlerFactoryImpl"></bean>

	<bean class="com.neusoft.hp.runtime.factory.impl.SimpleMapperFactoryImpl"></bean>
	
	<bean class="com.neusoft.hp.runtime.dyn.impl.DynBeanFactoryImpl"></bean>
	
	<bean class="com.neusoft.hp.runtime.handler.HandlerChain"></bean>
	
	<bean class="com.neusoft.hp.runtime.service.processor.RuntimeEntityProcessor"></bean>
	
	<bean class="com.neusoft.core.spring.AnnotationBean" id="registryObjs"></bean>   
	<bean class="com.neusoft.core.dubbo.ApplicationContextHolder"></bean>
	
	 <bean id="querySql" class="com.neusoft.hp.runtime.service.impl.QuerySqlImpl"></bean>  	
    <bean class="com.neusoft.hp.core.MySysImpl"></bean>

</beans>